<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h2><%= post.title %></h2>
      <h4><%= post.posted_on %> </h4>
      <p><%= post.description %></p>
      <br></br>
    </div>
  <% end %>
</div>