<h1>Places I've Traveled to</h1>
 
  <ul>
   <% for place in @places %>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
      <br></br>
   <% end %>
</ul>

<p><a href="/places/new">Create a new destination!</a></p>